/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
  --beige: #f4edde;
  --maroon: #411d2a;
  --light-gray: #f3f1ee;
  --gray: #d9d9d9;
  --gray-hover: #d3d3d3;
  --disabled: rgb(111, 111, 111);
  --russet: #d7d1c656;
}

/* make all text be the maroon color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--maroon);
}

* {
  font-family: caladea;
}

/* Make large text Calistoga */
h1 {
  font-family: calistoga;
  font-weight: 400; /* make the font a little lighter to match figma better */
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
